nav {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    width: calc(100% - 25px);
    padding-top: 20px;
    padding-left: 25px;

    .page-title {
        font-size: 1.6em;
        cursor: pointer;
    }

    .nav-items {
        display: inline-block;
        position: absolute;
        padding-top: 8px;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 30px;
        transition-duration: .2s;

        &:hover {
            text-decoration: underline;
        }        
    }
}

.page-content {
    .component-field {
        position: relative;
        min-height: 80px;
        margin-top: 45px;
        padding: 10px 25px 25px 25px;

        .field-description {
            display: block;
            color: #888888;
            margin-block-end: .45rem;
        }

        .field-text {
            display: block;
            position: relative;
            margin-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .date {
        margin-top: 10px;
        color: #888888;
        font-size: .9em;
        position: absolute;
    }
}