<nav>
    <span class='page-title' routerLink='/'>Simple CMS</span>
    <div class='nav-items'>
        <a routerLink='/admin' title='Administration'>Administration</a>
        <a *ngFor='let component of components' routerLink='/view' [queryParams]='{id: component.id}' (click)='changeSelection(component.id)'>{{component.name}}</a>
    </div>
</nav>

<div class='page-content-wrapper'>
    <div class='page-content'>
        <h1 class='descripted'>{{component.name}}</h1>
        <span>{{component.description}}</span><br>
        <i class='date' [hidden]='!componentLoaded'>Zuletzt aktualisiert am {{formatDate(component.lastModified)}}</i>

        <div class='component-field' *ngFor='let field of component.cmsFieldList'>
            <h3 class='descripted'>{{field.name}}</h3>
            <i *ngIf='hasDescription(field)' class='field-description'>{{field.description}}<br></i>
            <span class='field-text'>{{field.text}}</span>
        </div>
    </div>
</div>
