.indent-content {
    .content {
        padding: 0 25px;
        display: grid;
        grid-template-columns: 220px 1fr;

        label {
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            padding-right: 25px;
            padding-top: 12px;
            position: relative;
            margin-top: 22px;
        }

        .name-field {
            width: 340px;
        }
        
        .description-field {
            margin-top: 14px;
            textarea {
                max-height: 180px;
                min-height: 50px;
            }
        }
        
        input.mat-input-element {
            margin-top: 0.9375em;
        }

        .field-wrapper {
            margin-top: 35px;
            display: grid;
            grid-template-rows: 80px;

            .field {
                display: grid;
                grid-template-columns: 240px auto 35px;

                .field-input {
                    width: calc(100% - 25px);
                }

                .remove-button {
                    margin-top: 20px;
                }
            }
        }
    }
}