<nav>
    <span class='page-title' routerLink='/admin'>Admin</span>
    <div class='nav-items'>
        <a routerLink='/' title='Zur Benutzeransicht'>Benutzeroberfläche</a>
        <a routerLink='/admin' title='Zur Komponentenübersicht'>Komponenten</a>
        <a [routerLink]='componentHasFields() ? ["/edit"] : []' [queryParams]='{id: id}'>Inhalte bearbeiten</a>
    </div>
</nav>

<div class='page-content-wrapper'>
    <div class='page-content'>
        <div class='title-wrapper'>
            <h1>{{component.name}} konfigurieren</h1>
            <div class='table full-height'>
                <div class='center-cell'>
                    <button mat-raised-button color='primary' [disabled]='!valuesAreValid() || !valuesHaveChanged()' (click)='saveChanges()'>Speichern</button>
                </div>
            </div>
        </div>
        
        <div class='indent-content'>
            <div class='content'>
                <label class='input-label'>Name</label>
                <mat-form-field class='name-field'>
                    <input matInput #ctrl='ngModel' [(ngModel)]='component.name'>
                </mat-form-field>
            </div>
    
            <div class='content'>
                <label class='input-label'>Beschreibung</label>
                <mat-form-field class='description-field'>
                    <textarea matInput #ctrl='ngModel' [(ngModel)]='component.description'></textarea>
                </mat-form-field>
            </div>
    
            <div class='content'>
                <label class='input-label'>Felder</label>
                <div class='field-wrapper'>
                    <div class='field' *ngFor='let field of component.cmsFieldList'>
                        <div>
                            <mat-form-field class='field-input'>
                                <mat-label>Name</mat-label>
                                <input matInput #ctrl='ngModel' [(ngModel)]='field.name'>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class='field-input'>
                                <mat-label>Beschreibung</mat-label>
                                <input matInput #ctrl='ngModel' [(ngModel)]='field.description'>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-icon-button color='warn' aria-label='Feld löschen' class='remove-button' (click)='removeField(field)'>
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class='field'>
                        <div></div>
                        <div></div>
                        <div>
                            <button mat-mini-fab color='secondary' aria-label='Neues Feld hinzufügen' class='remove-button' (click)='addField()'>
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>