.component-tile-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .component-tile {
        display: grid;
        height: 200px;
        color: #333333FF;
        border: 1px solid #0000005A;
        border-radius: 2px;
        margin: 14px;
        grid-template-columns: auto 60px;
        position: relative;
        max-width: 100%;
        

        .component-information {
            padding: 5px 15px;
            position: relative;
            max-width: 100%;
            max-height: 88%;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            pointer-events: none;

            i {
                color: #555555FF;
            }
        }

        .action-grid {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;

            .icon-wrapper {
                background-color: #00000020;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0;
                left: 0;
                top: 0;
                display: table;
                color: #888888FF;
                transition-duration: .2s;
                cursor: pointer;
                outline: none;

                &:hover {
                    color: #111111FF;
                    background-color: #00000018;
                }

                mat-icon {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    pointer-events: none;
                }
            }

            .disabled-action {
                cursor: default;
                opacity: .4;

                &:hover {
                    color: #888888FF !important;
                    background-color: #00000020 !important;
                }
            }
        }
    }

    .new-component-icon {
        transform: rotate(45deg) scale(3);
        color: #BBBBBBFF;
        transition-duration: .2s;
        cursor: pointer;

        &:hover {
            color: #555555FF;
        }
    }

    .new-component-wrapper {
        height: 200px;
    }
}

.dialog {
    background-color: #FFFFFFFF;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 15px 25px;

    .new-component-description {
        max-height: 250px;
    }
}