<nav>
    <span class='page-title' routerLink='/admin'>Admin</span>
    <div class='nav-items'>
        <a routerLink='/' title='Zur Benutzeransicht'>Benutzeroberfläche</a>
        <a routerLink='/admin' title='Zur Komponentenübersicht'>Komponenten</a>
    </div>
</nav>

<div class='page-content-wrapper'>
    <div class='page-content'>
        <h1>Meine Komponenten</h1>
    
        <div class='component-tile-wrapper'>
    
            <div class='component-tile' *ngFor='let component of components'>
                <div class='component-information'>
                    <h3>{{component.name}}</h3>
                    <i>{{component.description}}</i>
                </div>
                <div class='action-grid'>
                    <div [ngClass]='{"icon-wrapper": true, "disabled-action": !componentHasFields(component)}' title='Inhalte bearbeiten' [routerLink]='componentHasFields(component) ? ["/edit"] : []' [queryParams]='{id: component.id}'><mat-icon aria-hidden='false' aria-label='Inhalte bearbeiten'>edit</mat-icon></div>
                    <div class='icon-wrapper' title='Komponente konfigurieren' routerLink='/configure' [queryParams]='{id: component.id}'><mat-icon aria-hidden='false' aria-label='Komponente konfigurieren'>settings</mat-icon></div>
                    <div class='icon-wrapper' title='Komponente löschen' (click)='removeComponent(component.id)'><mat-icon aria-hidden='false' aria-label='Komponente löschen'>clear</mat-icon></div>
                </div>
            </div>
    
            <div class='table relative new-component-wrapper'>
                <div class='center-cell'>
                    <mat-icon aria-hidden='false' aria-label='Neue Komponente erstellen' class='new-component-icon' (click)='dialogIsOpen=true;'>highlight_off</mat-icon>
                </div>
            </div>
    
        </div>
    </div>
</div>

<div class='dialog-underlay' [hidden]='!dialogIsOpen' (click)='clickDialog($event)'>
    <div class='dialog'>
        <h2>Neue Komponente erstellen</h2>

        <mat-form-field class='full-width'>
            <mat-label>Name</mat-label>
            <input matInput placeholder='z.B. Kochrezepte oder FAQ' #ctrl='ngModel' [(ngModel)]='newComponentName'>
        </mat-form-field>

        <mat-form-field class='full-width'>
            <mat-label>Beschreibung</mat-label>
            <textarea class='new-component-description' matInput #ctrl='ngModel' [(ngModel)]='newComponentDescription'></textarea>
        </mat-form-field>

        <button mat-raised-button class='right' color='primary' [disabled]='!newComponentValuesAreValid()' (click)='addComponent()'>Erstellen</button>
    </div>
</div>