<nav>
    <span class='page-title' routerLink='/admin'>Admin</span>
    <div class='nav-items'>
        <a routerLink='/' title='Zur Benutzeransicht'>Benutzeroberfläche</a>
        <a routerLink='/admin' title='Zur Komponentenübersicht'>Komponenten</a>
        <a routerLink='/configure' [queryParams]='{id: id}'>Komponente konfigurieren</a>
    </div>
</nav>

<div class='page-content-wrapper'>
    <div class='page-content'>
        <div class='title-wrapper'>
            <h1>Inhalte von {{component.name}} bearbeiten</h1>
            <div class='table full-height'>
                <div class='center-cell'>
                    <button mat-raised-button color='primary' [disabled]='!valuesHaveChanged()' (click)='saveChanges()'>Speichern</button>
                </div>
            </div>
        </div>
    
        <div class='field-wrapper' *ngFor='let field of component.cmsFieldList'>
            <h3 class='descripted'>{{field.name}}</h3>
            <i class='field-description'>{{field.description}}</i>
            <mat-form-field class='full-width'>
                <mat-label>Text</mat-label>
                <textarea matInput #ctrl='ngModel' [(ngModel)]='field.text' class='description-field'></textarea>
            </mat-form-field>
        </div>
    </div>
</div>