.field-wrapper {
    padding: 15px 25px 25px 25px;
    margin-bottom: 25px;

    .descripted {
        margin-block-end: 0.3rem;
    }

    .field-description {
        margin-bottom: 15px;
        display: block;
    }

    .description-field {
        max-height: 480px;
        min-height: 60px;
    }
}
