body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #0000000A;
}

.title {
    margin-left: 15px;
    margin-top: 20px;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.fallback-text {
    color: #999999;
}

.inline {
    display: inline-block;
}

.table {
    display: table;
}

.center-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    height: 100%;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    width: calc(100% - 25px);
    padding-top: 20px;
    padding-left: 25px;

    .page-title {
        font-size: 1.6em;
        cursor: pointer;
    }

    .nav-items {
        display: inline-block;
        position: absolute;
        padding-top: 8px;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 30px;
        transition-duration: .2s;

        &:hover {
            text-decoration: underline;
        }        
    }
}

.page-content-wrapper {
    position: absolute;
    width: 100%;
    top: 70px;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #44444415;
}

.page-content {
    position: absolute;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 35px 90px 35px;
    min-height: calc(100% - 115px);
    background-color: #FFFFFFFF;

    .descripted {
        margin-block-end: 0.4em;
    }
}

.dialog-underlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #00000060;
}

.title-wrapper {
    display: grid;
    grid-template-columns: auto 100px 1fr;
    grid-gap: 30px;
}